---
http_interactions:
- request:
    method: get
    uri: https://api.revi.ly/schedules/5aBoNfbK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"19bc44d8aece49812d072a675c071a8c"'
    body:
      encoding: UTF-8
      string: '{"id":"5aBoNfbK","name":"Operations","time_zone":"UTC","policy_rule_ids":[],"_links":{"self":{"href":"/schedules/5aBoNfbK"},"layers":{"href":"/schedules/5aBoNfbK/layers"}}}'
  recorded_at: Tue, 06 Aug 2013 21:31:08 GMT
recorded_with: VCR 2.5.0
