---
http_interactions:
- request:
    method: post
    uri: https://api.revi.ly/services
    body:
      encoding: UTF-8
      string: '{"name":"New Service","acknowledge_timeout":30,"auto_resolve_timeout":60}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - https://api.revi.ly/services/9qcd5Ckq
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f697592826f36d51b111f3e71bc72ff1"'
    body:
      encoding: UTF-8
      string: '{"id":"9qcd5Ckq","name":"New Service","auto_resolve_timeout":60,"acknowledge_timeout":30,"state":"enabled","current_status":"okay","incident_counts":{"triggered":0,"acknowledged":0,"resolved":0},"_links":{"self":{"href":"/services/9qcd5Ckq"},"incidents":{"href":"/services/9qcd5Ckq/incidents"}}}'
  recorded_at: Sun, 04 Aug 2013 06:44:14 GMT
recorded_with: VCR 2.5.0
