---
http_interactions:
- request:
    method: post
    uri: https://api.revi.ly/hooks
    body:
      encoding: UTF-8
      string: '{"config":{"bar":"baz"},"name":"test","events":["incident.*"]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - https://api.revi.ly/hooks/a9txCUNj
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a2ed64f1c325ba00c6f3cc370e5358ef"'
    body:
      encoding: UTF-8
      string: '{"id":"a9txCUNj","name":"test","events":["incident.acknowledged","incident.created","incident.deleted","incident.pending","incident.resolved","incident.triggered","incident.updated"],"config":{},"state":"enabled","_links":{"self":{"href":"/hooks/a9txCUNj"}}}'
  recorded_at: Sun, 04 Aug 2013 05:11:19 GMT
recorded_with: VCR 2.5.0
