---
http_interactions:
- request:
    method: post
    uri: https://api.revi.ly/schedules
    body:
      encoding: UTF-8
      string: '{"name":"Developers"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - https://api.revi.ly/schedules/wW2OWrse
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12d656ef435538e967b90b621c3ecc54"'
    body:
      encoding: UTF-8
      string: '{"id":"wW2OWrse","name":"Developers","time_zone":"UTC","policy_rule_ids":[],"_links":{"self":{"href":"/schedules/wW2OWrse"},"layers":{"href":"/schedules/wW2OWrse/layers"}}}'
  recorded_at: Tue, 06 Aug 2013 21:32:07 GMT
recorded_with: VCR 2.5.0
