---
http_interactions:
- request:
    method: post
    uri: https://api.revi.ly/policies/0K7Z5zHR/rules
    body:
      encoding: UTF-8
      string: '{"position":1,"escalation_timeout":1,"assignment_attributes":{"id":"sZjlN4dv","type":"user"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - https://api.revi.ly/policies/0K7Z5zHR/rules/HYBgBxHB
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5e3d0350b20014bac3b9923a4cb8ffd5"'
    body:
      encoding: UTF-8
      string: '{"id":"HYBgBxHB","position":1,"escalation_timeout":1,"_links":{"self":{"href":"/policies/0K7Z5zHR/rules/HYBgBxHB"},"policy":{"href":"/policies/0K7Z5zHR"},"assignment":{"href":"/users/sZjlN4dv"},"current_user":{"href":"/users/sZjlN4dv"}}}'
  recorded_at: Sun, 04 Aug 2013 06:35:15 GMT
- request:
    method: get
    uri: https://api.revi.ly/policies/0K7Z5zHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4cbe789e628ed4e6bd5484601e440e4a"'
    body:
      encoding: UTF-8
      string: '{"id":"0K7Z5zHR","name":"foo","loop_limit":3,"_links":{"self":{"href":"/policies/0K7Z5zHR"},"rules":{"href":"/policies/0K7Z5zHR/rules"}}}'
  recorded_at: Sun, 04 Aug 2013 06:35:15 GMT
- request:
    method: get
    uri: https://api.revi.ly/users/sZjlN4dv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b886abe28324e2ba1c3382d8a2c5795f"'
    body:
      encoding: UTF-8
      string: '{"id":"sZjlN4dv","email":"dan@example.com"}'
  recorded_at: Sun, 04 Aug 2013 06:35:15 GMT
recorded_with: VCR 2.5.0
