---
http_interactions:
- request:
    method: post
    uri: https://api.revi.ly/users
    body:
      encoding: UTF-8
      string: '{"name":"Bill Williamson","email":"bill@example.com","password":"worstpass"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - https://api.revi.ly/users/0aMoDfFr
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"505462f08ae437fa5b04e402994a8529"'
    body:
      encoding: UTF-8
      string: '{"id":"0aMoDfFr","email":"bill@example.com"}'
  recorded_at: Sun, 04 Aug 2013 16:51:26 GMT
recorded_with: VCR 2.5.0
