---
http_interactions:
- request:
    method: get
    uri: https://api.revi.ly/policies/0K7Z5zHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fe14cff69774b4474781ba499b4fd813"'
    body:
      encoding: UTF-8
      string: '{"id":"0K7Z5zHR","name":"Operations","loop_limit":3,"_links":{"self":{"href":"/policies/0K7Z5zHR"},"rules":{"href":"/policies/0K7Z5zHR/rules"}}}'
  recorded_at: Sun, 04 Aug 2013 05:15:57 GMT
recorded_with: VCR 2.5.0
