---
http_interactions:
- request:
    method: patch
    uri: https://api.revi.ly/schedules/wW2OWrse
    body:
      encoding: UTF-8
      string: '{"name":"Devs","time_zone":"PST"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Aug 2013 21:33:47 GMT
- request:
    method: get
    uri: https://api.revi.ly/schedules/wW2OWrse
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"19bc44d8aece49812d072a675c071a8c"'
    body:
      encoding: UTF-8
      string: '{"id":"wW2OWrse","name":"Devs","time_zone":"PST","policy_rule_ids":[],"_links":{"self":{"href":"/schedules/wW2OWrse"},"layers":{"href":"/schedules/5aBoNfbK/layers"}}}'
  recorded_at: Tue, 06 Aug 2013 21:31:08 GMT
recorded_with: VCR 2.5.0
