---
http_interactions:
- request:
    method: get
    uri: https://api.revi.ly/services/048j1N2J/incidents
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ad379f2a11fefdf997a128b431a470d4"'
    body:
      encoding: UTF-8
      string: '[{"id":"CXGIBtSD","state":"resolved","triggered_at":null,"acknowledged_at":null,"resolved_at":null,"message":"lorem
        ipsum dolor sit amet","description":null,"key":"464ee3a56056bd5a8c2e630f404269e5","service_id":"048j1N2J","current_user_id":null,"current_policy_rule_id":null,"_links":{"self":{"href":"/incidents/CXGIBtSD"},"service":{"href":"/services/048j1N2J"}}},{"id":"f0B0BgmB","state":"resolved","triggered_at":null,"acknowledged_at":"2013-08-04T04:47:17.426Z","resolved_at":"2013-08-04T04:51:38.856Z","message":"lorem
        ipsum dolor sit amet consectetuer","description":null,"key":"ab361b09804bbf2c8b8090e9eada3a3e","service_id":"048j1N2J","current_user_id":null,"current_policy_rule_id":null,"_links":{"self":{"href":"/incidents/f0B0BgmB"},"service":{"href":"/services/048j1N2J"}}},{"id":"b7fQ1LuE","state":"acknowledged","triggered_at":"2013-08-04T04:45:54.832Z","acknowledged_at":"2013-08-04T04:51:38.704Z","resolved_at":null,"message":"lorem
        ipsum","description":null,"key":"0f8ee9d086a8ab2f596bf7093e2aaafa","service_id":"048j1N2J","current_user_id":null,"current_policy_rule_id":null,"_links":{"self":{"href":"/incidents/b7fQ1LuE"},"service":{"href":"/services/048j1N2J"}}}]'
  recorded_at: Sun, 04 Aug 2013 04:51:38 GMT
recorded_with: VCR 2.5.0
