---
http_interactions:
- request:
    method: get
    uri: https://api.revi.ly/incidents
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a10dbb396905ffeb4550ffa499581e4f"'
    body:
      encoding: UTF-8
      string: '[{"id":"xOtaAzoZ","state":"resolved","triggered_at":null,"acknowledged_at":null,"resolved_at":null,"message":"lorem","description":null,"key":"a1e32fd8fe33bc77daa3ad19be4b757e","service_id":"OCyySkGT","current_user_id":null,"current_policy_rule_id":null,"_links":{"self":{"href":"/incidents/xOtaAzoZ"},"service":{"href":"/services/OCyySkGT"}}},{"id":"Ih2DbDQZ","state":"acknowledged","triggered_at":null,"acknowledged_at":"2013-08-04T04:46:30.880Z","resolved_at":null,"message":"lorem
        ipsum dolor sit amet consectetuer","description":null,"key":"568b476509f8729fca1e5ba91f8b0e16","service_id":"OCyySkGT","current_user_id":null,"current_policy_rule_id":null,"_links":{"self":{"href":"/incidents/Ih2DbDQZ"},"service":{"href":"/services/OCyySkGT"}}},{"id":"EAdw8jJo","state":"triggered","triggered_at":"2013[...]
