---
http_interactions:
- request:
    method: get
    uri: https://api.revi.ly/services/OCyySkGT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"01520d34de4b0a282793f60465f96ac6"'
    body:
      encoding: UTF-8
      string: '{"id":"OCyySkGT","name":"Pingdom","auto_resolve_timeout":240,"acknowledge_timeout":30,"state":"enabled","current_status":"critical","incident_counts":{"triggered":1,"acknowledged":1,"resolved":1},"_links":{"self":{"href":"/services/OCyySkGT"},"incidents":{"href":"/services/OCyySkGT/incidents"}}}'
  recorded_at: Sun, 04 Aug 2013 06:38:18 GMT
recorded_with: VCR 2.5.0
