---
http_interactions:
- request:
    method: patch
    uri: https://api.revi.ly/services/OCyySkGT
    body:
      encoding: UTF-8
      string: '{"auto_resolve_timeout":60}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Aug 2013 06:46:28 GMT
- request:
    method: get
    uri: https://api.revi.ly/services/OCyySkGT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c809fa664ce87f6198708b86e5dff774"'
    body:
      encoding: UTF-8
      string: '{"id":"OCyySkGT","name":"Pingdom","auto_resolve_timeout":60,"acknowledge_timeout":30,"state":"enabled","current_status":"critical","incident_counts":{"triggered":1,"acknowledged":1,"resolved":1},"_links":{"self":{"href":"/services/OCyySkGT"},"incidents":{"href":"/services/OCyySkGT/incidents"}}}'
  recorded_at: Sun, 04 Aug 2013 06:46:28 GMT
recorded_with: VCR 2.5.0
