---
http_interactions:
- request:
    method: get
    uri: https://api.revi.ly/hooks/MsxCMuKk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9c8bb27136bb9f805dccbec2bf9464dc"'
    body:
      encoding: UTF-8
      string: '{"id":"MsxCMuKk","name":"test","events":["incident.created","incident.deleted","incident.updated"],"config":{},"state":"enabled","_links":{"self":{"href":"/hooks/MsxCMuKk"}}}'
  recorded_at: Sun, 04 Aug 2013 05:09:48 GMT
recorded_with: VCR 2.5.0
