---
http_interactions:
- request:
    method: post
    uri: https://api.revi.ly/policies
    body:
      encoding: UTF-8
      string: '{"name":"Operations","loop_limit":3}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - https://api.revi.ly/policies/0HWU1wzK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ee9be569a4d3d3e03a5e95fa965bb936"'
    body:
      encoding: UTF-8
      string: '{"id":"0HWU1wzK","name":"Operations","loop_limit":3,"_links":{"self":{"href":"/policies/0HWU1wzK"},"rules":{"href":"/policies/0HWU1wzK/rules"}}}'
  recorded_at: Sun, 04 Aug 2013 05:16:20 GMT
recorded_with: VCR 2.5.0
