---
http_interactions:
- request:
    method: get
    uri: https://api.revi.ly/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"df2686bb2aa4f285748041ae331b4826"'
    body:
      encoding: UTF-8
      string: '[{"id":"rNl3xu5M","name":"log","events":["incident.created","incident.deleted","incident.updated","policy.created","policy.deleted","policy.updated","policy_rule.created","policy_rule.deleted","policy_rule.updated","schedule.created","schedule.deleted","schedule.updated","schedule_layer.created","schedule_layer.deleted","schedule_layer.updated","service.created","service.deleted","service.updated","user.created","user.deleted","user.updated"],"config":{},"state":"enabled","_links":{"self":{"href":"/hooks/rNl3xu5M"}}},{"id":"a9txCUNj","name":"test","events":["incident.acknowledged","incident.created","incident.deleted","incident.pending","incident.resolved","incident.triggered","incident.updated"],"config":{},"state":"enabled","_links":{"self":{"href":"/hooks/a9txCUNj"}}}]'
  recorded_at: Sun, 04 Aug 2013 05:11:35 GMT
recorded_with: VCR 2.5.0
