---
http_interactions:
- request:
    method: get
    uri: https://api.revi.ly/policies/0K7Z5zHR/rules/Zcxlq02M
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"af4d132c128fe9a40f399f801e9cc8fc"'
    body:
      encoding: UTF-8
      string: '{"id":"Zcxlq02M","position":1,"escalation_timeout":1,"_links":{"self":{"href":"/policies/0K7Z5zHR/rules/Zcxlq02M"},"policy":{"href":"/policies/0K7Z5zHR"},"assignment":{"href":"/users/sZjlN4dv"},"current_user":{"href":"/users/sZjlN4dv"}}}'
  recorded_at: Sun, 04 Aug 2013 06:01:29 GMT
recorded_with: VCR 2.5.0
