---
http_interactions:
- request:
    method: get
    uri: https://api.revi.ly/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6f938e9cf6dd86884928204d212e186f"'
    body:
      encoding: UTF-8
      string: '[{"id":"OCyySkGT","name":"Pingdom","auto_resolve_timeout":240,"acknowledge_timeout":30,"state":"enabled","current_status":"critical","incident_counts":{"triggered":1,"acknowledged":1,"resolved":1},"_links":{"self":{"href":"/services/OCyySkGT"},"incidents":{"href":"/services/OCyySkGT/incidents"}}},{"id":"txfaLHdb","name":"Nagios","auto_resolve_timeout":240,"acknowledge_timeout":30,"state":"enabled","current_status":"critical","incident_counts":{"triggered":1,"acknowledged":1,"resolved":1},"_links":{"self":{"href":"/services/txfaLHdb"},"incidents":{"href":"/services/txfaLHdb/incidents"}}},{"id":"048j1N2J","name":"Application","auto_resolve_timeout":240,"acknowledge_timeout":30,"state":"enabled","current_status":"warning","incident_counts":{"triggered":0,"acknowledged":2,"resolved":1},"_links":{"self":{"href":"/services/048j1N2J"},"incidents":{"href":"/services/048j1N2J/incidents"}}}]'
  recorded_at: Sun, 04 Aug 2013 06:38:08 GMT
recorded_with: VCR 2.5.0
