---
http_interactions:
- request:
    method: get
    uri: https://api.revi.ly/incidents/CXGIBtSD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b7459d0963570685f4fdf7841a9e2da7"'
    body:
      encoding: UTF-8
      string: '{"id":"CXGIBtSD","state":"resolved","triggered_at":null,"acknowledged_at":null,"resolved_at":null,"message":"lorem
        ipsum dolor sit amet","description":null,"key":"464ee3a56056bd5a8c2e630f404269e5","service_id":"048j1N2J","current_user_id":null,"current_policy_rule_id":null,"_links":{"self":{"href":"/incidents/CXGIBtSD"},"service":{"href":"/services/048j1N2J"}}}'
  recorded_at: Sun, 04 Aug 2013 04:51:38 GMT
recorded_with: VCR 2.5.0
