---
http_interactions:
- request:
    method: get
    uri: https://api.revi.ly/hooks/8ITE9fKZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - token <Authentication Token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"da431a196f0d44746ded439ca363d1b5"'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "8ITE9fKZ",
          "name": "test",
          "events": [
            "incident.acknowledge",
            "incident.create",
            "incident.delete",
            "incident.escalate",
            "incident.resolve",
            "incident.trigger",
            "incident.update"
          ],
          "config": {
          },
          "state": "enabled",
          "_links": {
            "self": {
              "href": "/hooks/8ITE9fKZ"
            }
          }
        }
  recorded_at: Mon, 07 Oct 2013 09:52:45 GMT
- request:
    method: get
    uri: https://api.revi.ly/hooks/tv71NqCg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - token <Authentication Token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ccb62e932c01ee6f2fafa9f08d30f432"'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tv71NqCg",
          "name": "test",
          "events": [
            "incident.acknowledge",
            "incident.create",
            "incident.delete",
            "incident.escalate",
            "incident.resolve",
            "incident.trigger",
            "incident.update"
          ],
          "config": {
          },
          "state": "enabled",
          "_links": {
            "self": {
              "href": "/hooks/tv71NqCg"
            }
          }
        }
  recorded_at: Mon, 07 Oct 2013 09:52:45 GMT
[...]
- request:
    method: post
    uri: https://api.revi.ly/hooks
    body:
      encoding: UTF-8
      string: '{"name":"test","events":["incident.*"],"config":{"bar":"baz"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - token <Authentication Token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - https://api.revi.ly/hooks/1Nk6IRiV
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f2a3bfc03ec744ee8b39d9b420e0da42"'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "1Nk6IRiV",
          "name": "test",
          "events": [
            "incident.acknowledge",
            "incident.create",
            "incident.delete",
            "incident.escalate",
            "incident.resolve",
            "incident.trigger",
            "incident.update"
          ],
          "config": {
          },
          "state": "enabled",
          "_links": {
            "self": {
              "href": "/hooks/1Nk6IRiV"
            }
          }
        }
  recorded_at: Mon, 07 Oct 2013 09:52:45 GMT
[...]
- request:
    method: put
    uri: https://api.revi.ly/hooks/1Nk6IRiV
    body:
      encoding: UTF-8
      string: '{"name":"test","events":["service.*"],"id":"1Nk6IRiV","config":{},"state":"enabled"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - token <Authentication Token>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 07 Oct 2013 09:52:45 GMT
- request:
    method: get
    uri: https://api.revi.ly/hooks/93d36Hr1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - token <Authentication Token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0ff61c89198fb2194a5affd8eeace481"'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "93d36Hr1",
          "name": "test",
          "events": [
            "incident.acknowledge",
            "incident.create",
            "incident.delete",
            "incident.escalate",
            "incident.resolve",
            "incident.trigger",
            "incident.update"
          ],
          "config": {
          },
          "state": "enabled",
          "_links": {
            "self": {
              "href": "/hooks/93d36Hr1"
            }
          }
        }
  recorded_at: Mon, 07 Oct 2013 09:53:10 GMT
- request:
    method: get
    uri: https://api.revi.ly/hooks/TZY0Az2D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - token <Authentication Token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"337f1ba8b22fa10e1f57a2d9d9f4b544"'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "TZY0Az2D",
          "name": "test",
          "events": [
            "incident.acknowledge",
            "incident.create",
            "incident.delete",
            "incident.escalate",
            "incident.resolve",
            "incident.trigger",
            "incident.update"
          ],
          "config": {
          },
          "state": "enabled",
          "_links": {
            "self": {
              "href": "/hooks/TZY0Az2D"
            }
          }
        }
  recorded_at: Mon, 07 Oct 2013 09:53:10 GMT
- request:
    method: delete
    uri: https://api.revi.ly/hooks/TZY0Az2D
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - token <Authentication Token>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 07 Oct 2013 09:53:10 GMT
recorded_with: VCR 2.6.0
