---
http_interactions:
- request:
    method: get
    uri: https://api.revi.ly/policies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - token dGpYyvbApYxXGAvPkQjt
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fc50f9de005de9470025d12ee714f1fa"'
    body:
      encoding: UTF-8
      string: '[{"id":"0K7Z5zHR","name":"Operations","loop_limit":3,"_links":{"self":{"href":"/policies/0K7Z5zHR"},"rules":{"href":"/policies/0K7Z5zHR/rules"}}}]'
  recorded_at: Sun, 04 Aug 2013 05:15:27 GMT
recorded_with: VCR 2.5.0
